body {
    background-image:url("https://i.pinimg.com/originals/4a/7c/f8/4a7cf8a7ddc51490ac3c93f0f977e66a.jpg");
    background-blend-mode:soft-light;
    background-color: rgb(0, 196, 196);
}


#title {
    color:rgb(255, 255, 255);
    font-weight:100;
}


.header {
    box-shadow:5px 5px 100px rgb(4, 0, 255) inset, -5px -5px 100px rgb(13, 239, 255) inset,  5px 5px 100px rgb(0, 26, 255) , -5px -5px 100px rgb(0, 225, 255);
}

#note {
    color:rgb(255, 255, 255);
}

#info {
    color:rgb(255, 255, 255);
}


#size {
    background-color:rgb(112, 174, 255);
    color:white;
    font-size:30px;
    font-weight:200;
    border-radius:25%;
}

#size:hover {
    background-color:rgb(33, 105, 189);
   
}


canvas {
    background-color:white;
    border:ridge 10px rgb(0, 26, 255);
    box-shadow:20px 20px 120px rgb(247, 0, 255);
}
